*{
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
   width: 40%;
   margin: 0 auto;
}

.input {
   width: 100%;
   border-radius: 3px;
   border-width: 1px;
   padding: 0 5px;
   font-size: 110%;
}
.btn {
   padding: 8px 12px;
   cursor: pointer;
   border: none;
}

.form {
   display:flex;
   margin-top: 20px;
}

.list {
   margin: 10px auto;
}

.list-item {
   border: 1px solid #cccccc;
   border-radius: 5px;
   padding: 5px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}


.list-item__solved {
   opacity: 0.5;
   border: 1px solid #cccccc;
   border-radius: 5px;
   padding: 5px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}